<div class="section" id="education">
    <div class="container cc-education">
      <div class="h4 text-center mb-4 title">Educación</div>
      <div class="card">
        <div class="row">
          <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body cc-education-header">
              <p>2014- 2020</p>
              <div class="h5">Ingeniero De Sistemas</div>
            </div>
          </div>
          <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body">
              <div class="h5">Ingeniería de Sistemas</div>
               <h4 class="category">Universidad De Córdoba
               </h4>
               <ul>
                <li> Universida de códoba con acreditación de alta calidad <b>la mejor del departamento.</b>  </li>
                    <li>Complete los estudios en ingeniería de sistema satisfactoriamente.</li>
                 
                 <li>Mantuve un promedio por encima de 3.7</li>
             </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="row">
          <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body cc-education-header">
              <p>2004 - 2010</p>
              <div class="h5">Bachiller Academico</div>
            </div>
          </div>
          <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body">
              <div class="h5">Bachiller academico</div>
               <h4 class="category">Institución Educativa Jose manuel de altamira
               </h4>
               <ul>
                <li>
                  Destacandome en areas como: Matemáticas, física, informática.
                                  </li>
                             
                                  <li>
                                      Completando en esta institución el<b> 100%</b> de mi educación secundaria.
                                  </li>
             </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="row">
          <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body cc-education-header">
              <p>2019</p>
              <div class="h5">Diplomado En Redes</div>
            </div>
          </div>
          <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body">
              <div class="h5">Administración y gestión de redes de datos</div>
               <h4 class="category">Universidad de córdoba
               </h4>
               <ul>
                <li>Más de 120 horas de capacitación teorica y práctica..
                </li>
               
               
             </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>